---
import "../css/main.css"
import PC_list from "../components/PC_list.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<header>
      <h1>pseudoclases de css</h1>
    </header>
    <main>
      <nav class="main_menu">
        <ol>
          <li><a href="#active">:active</a></li>
          <li><a href="#any-link">:any-link</a></li>
          <li></li>
        </ol>
      </nav>
      <PC_list />
    </main>
	</body>
</html>
