---
import "../css/main.css"
import PC_list from "../components/PC_list.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<header>
      <h1>pseudoclases de css</h1>
    </header>
    <main>
      <nav class="main_menu">
        <ol>
          <li><a href="#active">:active</a></li>
          <li><a href="#any-link">:any-link</a></li>
          <li><a href="#autofill">:autofill</a></li>
          <li></li>
        </ol>
      </nav>
      <PC_list />
    </main>
	</body>

  <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" 
    data-id="davc1969"
    data-description="Support me on Buy me a coffee!"
    data-message="Si te gusta, apóyame para crear mas"
    data-color="#FF5F5F"
    data-position="Right"
    data-x_margin="18" 
    data-y_margin="28">
  </script>
</html>
